body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(75, 75, 152);
  color: bisque;
}
input,
button {
  font-family: inherit;
  font-size: inherit;
}
.btn {
  background-color: bisque;
  padding: 4px 10px;
  margin: 15px 0;
}

label,
input {
  display: block;
}
