* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif;
  background-color: #a2446e;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  position: sticky;
  top: 0;
}
.bg {
  background-color: white;
}
li {
  display: inline-block;
}
section,
footer,
header {
  padding: 1rem;
}
section {
  scroll-margin-top: 60px;
}
p {
  margin: 0.5rem 0;
}
.btn {
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  background-color: #5b44a2;
  color: #fff;
}
.mobile {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
/* do smth at this breakpoint */
@media (max-width: 800px) {
  body {
    background-color: pink;
  }
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  ul.responsive {
    display: block;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  }
  ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
