* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif;
  background-color: #add3e6;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  position: sticky;
  top: 0;
}
.bg {
  background-color: white;
}
li {
  display: inline-block;
}
section,
footer,
header {
  padding: 1rem;
}
section {
  scroll-margin-top: 60px;
}
p {
  margin: 0.5rem 0;
}
.btn {
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  background-color: #5b44a2;
  color: #fff;
}
.mobile {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
/* modal window */
.overlay {
  /* position: absolute(not easy to fit with mobile version) OR fixed */
  background-color: rgb(51, 51, 51, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* to put a window in a center of a window */
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-window {
  background-color: rgb(247, 247, 247);
  max-width: 600px;
  min-height: 300px;
  padding: 1rem;
  margin: 2rem;
  border-radius: 5px;
  position: relative;
}

.x-btn {
  background-color: #add3e6;
  padding: 5px 10px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 3px;
  font-weight: 900;
}
.no-press-btn {
  font-family: inherit;
  box-shadow: none;
  border: none;
  font-size: 15px;
  background-color: white;
  font-weight: 900;
  padding: 10px 20px;
}
.overlay.visible {
  display: flex;
}
/* do smth at this breakpoint */
@media (max-width: 800px) {
  body {
    background-color: pink;
  }
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  ul.responsive {
    display: block;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  }
  ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
