body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(120, 93%, 79%, 0.4);
  color: mediumslateblue;
  line-height: 1.5;
}

div {
  margin: 15px 0;
}

label,
input {
  display: inline-block;
  width: 130px;
}
input {
  padding: 5px;
}

button {
  background-color: hsl(120, 93%, 79%);
  /*border: none; */
  padding: 5px 20px;
  color: mediumslateblue;
  border-radius: 3px;
  margin: 30px 0;
  border: 1px hsl(120, 54%, 69%) solid;
}
input,
button {
  font-family: inherit;
  font-size: inherit;
}
