* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(red, #1378c1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto Mono", monospace;
}

h2 {
  margin: 2rem auto 1rem;
}
.color1,
.color2 {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 50px;
  box-shadow: 0;
}
.colors-box {
  display: flex;
}
form {
  background-color: white;
  max-width: 350px;
  min-height: 200px;
  height: 100vh;
  text-align: center;
  color: #333;
  padding: 2rem;
}
.directions-conteiner1,
.directions-conteiner2,
.directions-conteiner3 {
  display: flex;

  margin-bottom: 20px;

  justify-content: space-evenly;
}
.directions {
  /* border: 1px solid black; */
  flex-basis: 70px;
}

input[type="radio"] {
  display: none;
}
.directions-conteiner3 {
  margin-bottom: 20px;
}
label {
  background-color: #eee;
  /* margin: 0.5rem; */
  display: block;
  padding: 0.5rem;
}

/* .directions {
    display: grid;
    grid-template */
input[type="radio"]:checked + label {
  background-color: #333;
  color: white;
}
