* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}

body {
  background-image: url(/img/kelvin-t-AcA8moIiD3g-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.container {
  width: 70%;
  margin: 20px auto;
}
.orderSection {
  background-color: white;
  border: 5px solid #444;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
}
.price {
  position: absolute;
  width: 100px;
  padding: 10px 10px;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid #444;
  border-radius: 5px;
  top: 30px;
  right: 100px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.orderChoices {
  padding: 10px 5px;
}
legend {
  font-weight: bold;
}
