* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Sono', sans-serif;
  color: #009dff;
  background-image: url(backimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

header {
  width: 100%;
  text-align: center;
}
#name,
#age {
  border: 2px solid #444;
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 20px;
  width: 40%;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}
.first-form,
.second-form {
  width: 450px;
  border: 3px solid #444;
  border-radius: 5px;
  /*  margin: 10px 30px; */
  margin-bottom: 50px;
}

.third-form {
  width: 450px;
  border: 3px solid #444;
  border-radius: 5px;
}
.first-form,
.second-form,
.third-form {
  margin: 20px;
  min-height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
}

.riskscore {
  clear: both;
  background-color: rgb(160, 156, 156, 0.7);
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}
header {
  padding: 40px 0;
}
h1 {
  margin-bottom: 40px;
  background-color: rgb(160, 156, 156, 0.7);
  padding: 20px 0;
}
header p {
  margin-bottom: 40px;
}
h3 {
  padding-top: 10px;
  text-align: center;
}
legend {
  text-align: center;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 0 10px;
}
form div {
  padding: 0 10px;
}
main {
  display: flex;
  justify-content: space-around;
}
header p {
  background-color: #fff;
  padding: 5px 0;
}
