* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  background-image: url('./img/future.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #0363a3;
}
h2 {
  font-family: 'Unbounded', sans-serif;
  margin-bottom: 30px;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}
::placeholder {
  opacity: 0.4;
}
.btn {
  background-color: rgb(255, 184, 82);
  width: 60%;
  padding: 4px 10px;
  margin: 15px 0;
  border: none;
  margin-right: 7px;
}
.again {
  background-color: #ffb852;
  padding: 4px 10px;
  margin: 15px 0;
  border: none;
}
.btn:hover {
  background-color: #f0a335;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.again:hover {
  background-color: #f0a335;
  color: #fff;
  cursor: pointer;
}

label,
input {
  display: block;
}

.container {
  width: 400px;
  height: 450px;
  padding: 20px 10px;
  margin: 100px auto 50px auto;
  border: 3px solid #444;
  background-color: rgba(151, 191, 218, 0.8);
}

input {
  padding: 3px 3px;
}
.form-wrap div {
  margin: 20px 0;
}
.form-wrap {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 15px;
  /* border: 1px solid black; */
}
.form-wrap input {
  width: 100%;
}
.form-wrap label {
  text-align: left;
  margin-bottom: 5px;
}
.form-wrap input {
  margin-bottom: 20px;
  line-height: 1.5;
}
#answer {
  text-align: center;
  color: #0363a3;
}
